tmg.equinox.core/tmg.equinox.core/tmg.equinox.infrastructure.util/DocumentUtility/ClaimsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Claims">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Claim" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Type"/>
							<xs:element type="xs:string" name="Value"/>
							<xs:element type="xs:anyURI" name="ValueType"/>							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>